SECRET_KEY=
JWT_SECRET_KEY=
DATABASE_URL=
GEMINI_API_KEY=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
GOOGLE_GENAI_USE_VERTEXAI=
FLASK_RUN_HOST=
FLASK_RUN_PORT=
GCS_BUCKET_NAME=

GCS_BUCKET_PATH=
GCS_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
GCS_BUCKET_KNOWLEDGE_BASE=

DOCUMENT_AI_OCR_PROCESSOR_ID=
DOCUMENT_AI_OCR_PROJECT_ID=
DOCUMENT_AI_OCR_LOCATION=us
DOCUMENT_AI_OCR_CREDENTIALS=

SEI_USER=
SEI_PASS=
SEI_ORGAO=
SEI_URL_LOGIN=
SEI_TIMEOUT_MS=
SEI_MAX_TENTATIVAS=
HEADLESS=
