Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-JWT-Extended
Flask-Migrate
Flask-Cors

psycopg2-binary
python-dotenv

google-genai

gunicorn

marshmallow
flask-marshmallow

sqlalchemy

requests
pymupdf

pytest
pytest-flask
